*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
@media screen and (max-width: 600px){
    h1{ 
        font-size: 5rem;
    font-weight: 600;
    }
    .container{
        width: 100%;
        min-height: 50px;
        background-color:aliceblue;
        top: auto;
        bottom: 0;
        align-items: top;
        justify-content: space-between;
        padding: 0 10px;
       
    }
}
html{
    overflow-y: scroll;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:aliceblue;
}
nav{
    display: flex;
    width:100%;
    justify-content:space-around;
    height: 100px;
    z-index: 111;
    background-color:grey;
 
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3f533f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style-type: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 20px;
    letter-spacing:20px;
    color:#3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color:#7f00ff;
}
.links a{
    font-size: 25px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
    display:flex;
    width:100%;
    height:100vm;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
    text-align: left    ;
}
.topline{
    display:block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width:45px;
    bottom:10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgb(0,0,0,0.4);
}
button.hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    height: 100%;
    width: calc(130% -80px);
    top:-100px;
    right: 50px;
    
}
.about{
   width: 100%;
   padding: 100px 0px;
   background-color: #191919;
   display: flex;
}
.about img{
    width: 430px;
    height: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: aliceblue;

}
p1{
    color: aqua;
}
header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #fffff1;
    padding: 12px 15%;
}
.services{
    background: linear-gradient(#FC466B,#6A82FB);
    
}
.main-text{
    text-align: center;
}
main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    font-size: 1rem;
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: linear-gradient(lightblue,lightgreen);
    color: var(--second-color);
    font-size:14px;
    border-radius: 8px;
    transition: all .45s;
}
.read:hover{
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color)
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
p{
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}