@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,200&family=IBM+Plex+Serif:wght@100&family=Rubik:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Serif', serif;
font-family: 'Rubik', sans-serif;
}
:root {
  --primary-color: rgba(245, 56, 85, 1);
  --secondary-color: rgba(68, 68, 68, 1);
  --primary-font: "rubik", sans-serif;
  --third-color: rgba(11, 19, 42, 1);
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
 
}
.sticky{
    scroll-snap-align: start;
}
.container {
  overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  z-index: 111;
  background-color:transparent;
  position: fixed;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: rgb(17, 230, 230);
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
.btns {
  font-size: 70px;
  color: #7f00ff;
}
.navItems {
  display: flex;
}
#splash {
  float: right;
}
.navItems li {
  list-style-type: none;
  margin: 0 15px;
}
.navItems li a {
  font-size: 20px;
  letter-spacing: 20px;
  color:white;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover {
  color:cornflowerblue;
}
#info{
    display: grid;
    justify-content: center;
    letter-spacing: 2px;
}
.links a {
  font-size: 25px;
  color: #3d535f;
  margin: 25px 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.btns a{
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    
    font-size: 30px;
    color:black;
    background-color: wheat;
    text-decoration: none;
    box-shadow: none;
    letter-spacing: 5px;
}
.btns a:hover{
    background-color: white;
}
.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: white;
}
.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: wheat;
}
.menu,.cross{
    display: none;
}
h1 {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  color: whitesmoke;
}
.multiText {
  color:turquoise;
  text-transform: capitalize;
}
button {
  outline: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: black;
  background-color: wheat;
  padding: 8px 14px;
  margin: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}

button:hover {
  background-color: #fffff1;
}
.imgbox {
  position: relative;
  height: 100%;
  width: calc(130% -80px);
  top: -100px;
  right: 50px;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
  display: flex;
  text-transform: capitalize;
}
.about img {
  width: 430px;
  height: auto;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2 {
  color: lawngreen;
  font-size: 100px;
  text-align: center;
}
h3 {
  font-size: 50px;
}
p1 {
  color:darkturquoise;
  font-size: 25px;
  justify-content: center;
  display: flex;
}
header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid #fffff1;
  padding: 12px 15%;
}
.services {
  background: linear-gradient(#fc466b, #6a82fb);
  background: cover;
}
.main-text {
  text-align: center;
}
main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.box {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.box p {
  font-size: 1rem;
  color: var(--second-color);
  line-height: 1.8;
  margin-bottom: 25px;
}
.read {
  display: inline-block;
  padding: 8px 18px;
  background: linear-gradient(lightblue, lightgreen);
  color: var(--second-color);
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.45s;
}
.read:hover {
  letter-spacing: 1px;
  background: #ffffff99;
  color: var(--text-color);
}
.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.project {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  background:linear-gradient(#a1c4fd, #c2e9fb);
}

.project img {
  max-width: 100%;
  height: auto;
}

.project a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
}
#porfoilo{
    display: grid ;
}
#porfoilo img {
  height: 500px;
  width: 500px;
}
#project {
  border: 1px solid;
  border-collapse: collapse;
  display: grid;
  margin: 5px;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-family: "IBM Plex Serif", serif;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(#a1c4fd ,#c2e9fb);
  height: 650px;
  
}
#project .link1 {
  border: 1px solid;
  font-family: "IBM Plex Mono", monospace;
  font-family: "IBM Plex Serif", serif;
  font-family: "Rubik", sans-serif;
  width: 250px;
  margin: 10px;
  background-color:whitesmoke;
}
.link1 img {
  height: 189px;
  width: 189px;
}
@media (max-width:1024px){
    .sidebar{
        transform: translateX(100%);
        background-color:white;
        position: fixed;
        padding: 1rem;
        top: 0;
        right: 0;
        left: 10px;
        bottom: 0;
        gap: 1rem;
        transition: all 1s;
        
      }
      nav .active{
        transform: translateX(0%  );
        margin-left: 650px;
      }
      nav ul{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    
      .cross{
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 0;
        display: flex;
        color: black;
      }
      .menu{
        position: fixed;
        display: flex;
        top: 10px;
        right: 10px;
        bottom: 0;
      }
      .active{
        color: var(--primary-color);
      }
      #porfoilo{
        height: 900px;
      }
      #project{

        height: 890px;
      }
}